/* Coolors Exported Palette - coolors.co/05668d-92e86a-81e4da-aecfdf-26a5ac */

/* HSL */
$color1: hsla(197%, 93%, 29%, 1);
$color2: hsla(101%, 73%, 66%, 1);
$color3: hsla(174%, 65%, 70%, 1);
$color4: hsla(200%, 43%, 78%, 1);
$color5: hsla(183%, 64%, 41%, 1);

/* RGB */
$color1: rgba(5, 102, 141, 1);
$color2: rgba(146, 232, 106, 1);
$color3: rgba(129, 228, 218, 1);
$color4: rgba(174, 207, 223, 1);
$color5: rgba(38, 165, 172, 1);

body {
  background-color: $color3;
}
