<%= render 'form', cat: @cat, type: :new %>

<!-- 
<form action="/cats" method="post">
  <p>Name:
    <input id="name" type="text" name="cat[name]"/>
  </p>

  <%# colors = %w(red orange yellow green blue indigo violet brown grey white black) %>
  <p>Color:
    <select name="cat[color]">
      <option disabled selected>Please choose a color</option>
      <%# colors.each do |color| %>
        <option value=<%#= color %>><%#= color %></option>
      <%# end %>
    </select>
  </p>

  <p>Gender:
    <input type="radio" id="male"
     name="cat[gender]" value="M">
    <label for="male">M</label>

    <input type="radio" id="female"
     name="cat[gender]" value="F">
    <label for="female">F</label>
  </p>

  <p>Birthday:
    <input id="birthdate" type="date" name="cat[birth_date]"/>
  </p>

  <p>Description:
    <textarea name="cat[description]"></textarea>
  </p>

  <button type="submit" name="button">Create Cat</button>
</form> -->
